.social {
  margin: 15px -15px;
  &-item{
    max-height: 455px;
    &-img {
      min-height: 165px;
      position: relative;
      cursor: pointer;
      img {
        width: 100%;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: #000;
      margin-bottom: 5px;
    }
    &-title {
      color: $text-color;
      font-family: "Arial Rounded MT Bold", sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-bottom: 15px;
    }
    &-network {
      position: absolute;
      bottom: 20px;
      left: 20px;
      width: 30px;
      height: 30px;
      background-color: #ffffff;
      border-radius: 50%;
      text-align: center;
      font-size: 15px;
      line-height: 30px;
    }
  }
  &-header{
    position: relative;
    min-height: 20px;
    width: 100%;
    &-title {
      position: absolute;
      top: 0;
      left: 0;
      height: 19px;
      color: #465993;
      font-family: Ubuntu, sans-serif;
      font-size: 24px;
      font-weight: 700;
      font-style: italic;
      line-height: 24px;
      text-transform: uppercase;
      letter-spacing: -0.92px;
      background: #fff;
      padding: 0 20px 0 15px;
    }
    hr {
      margin: 10px 0 40px 0;
      border: 1px solid #d0d8ef;
    }
  }
}
