.react-video {
  &-wrapper {
    position: relative;
    margin: 0 -10px 0 -15px;
  }
  &-mask {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: #000;
    opacity: 0.6;
  }
  &-has-started {
    .video-react-control-bar {
    }
  }
  &-big-play-button{
    width: 83px;
    height: 83px;
    border-radius: 83px;
    border: solid 1px #fff;
    opacity: 100;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -42px;
    margin-left: -42px;
    color: $text-color;
    font-size: 45px;
    text-align: center;
    background: #ffffff url('/img/rounded-rectangle-3.png') no-repeat center;
    &:hover {
      border-color: #465993;
      background-color: #fff;
      color: #465993;
    }
  }
  &:hover {
    &.video-react-big-play-button-center {
      border-color: #465993;
      background-color: #fff;
    }
  }
  &-playing {
    & .video-react-big-play-button{
      &.video-react-big-play-button-center{
        display: none;
      }
    }
  }
}
.video-control {
  color: $text-color;
  font-family: "Arial";
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
  margin: 20px -15px;
  &-block {
    &--first{
      //margin: 0 0 0 -15px;
    }
    &--second {
      margin: 0 -15px 0 0;
    }
  }
  button {
    background: none;
    border: none;
    box-shadow: none;
    position: relative;
    &:hover {
      background: none;
      border: none;
      color: $text-color;
    }
  }
  &-button {
    margin: 0 15px 0 0;
    padding: 0;
    color: $text-color;
    font-size: 17px;
    line-height: 22px;
    min-width: 20px;
    &--play {
      margin-right: 30px;
    }
    &--muted {
      font-size: 22px;
      margin-right: 5px;
    }
  }
  &-currentTime {
    margin: 10px 10px 10px 20px;
  }
  &-duration {
    opacity: 0.2;
    margin: 10px 0 10px 5px;
  }
  &-favorites {
    font-family: "Arial Rounded MT Bold";
    text-transform: initial;
    color: $text-color;
    margin: 0 15px 0 40px;
    &:hover {
      text-decoration: none;
      color: $text-color;
    }
    .fa {
      margin-right: 10px;
      font-size: 19px;
    }
  }
  &-downloads {
    margin: 0 0 0 10px;
    .btn-group, .btn-secondary {
      .dropdown-toggle {
        min-width: 143px;
        border-radius: 20px;
        background-color: #dae3ff;
        color: #465993;
        font-family: "Arial Rounded MT Bold";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        z-index: 1001;
        margin: 0;
        padding: 8px 35px;
        box-shadow: none;
        &:hover, &:focus, &:active {
          background-color: #dae3ff;
          color: #465993;
          border:none;
          box-shadow: none !important;
        }
        &::after{
          position: absolute;
          display: inline-block;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          top: 45%;
          right: 17px;
        }
        .fa {
          margin: 0 10px 0 -20px;
        }
      }
    }
    .dropdown-toggle {
      min-width: 155px;
      border-radius: 20px;
      background-color: #dae3ff;
      color: #465993;
      font-family: "Arial Rounded MT Bold";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      z-index: 1001;
      margin: 0;
      padding: 8px 35px;
      box-shadow: none;
      &:hover, &:focus, &:active {
        background-color: #dae3ff;
        color: #465993;
        border:none;
      }
      &::after{
        position: absolute;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        top: 45%;
        right: 17px;
      }
    }
    .dropdown-menu {
      min-width: 143px;
      margin-top: -20px;
      border-radius: 3px;
      border: 0;
      background-color: #f2f5ff;
      padding-bottom: 0;
      padding-top: 20px;
      & > li > a {
        padding: 3px 13px;
        color: $text-color;
        &:hover {
          background-color: #dae3ff;
        }
      }
      .favorites-item{
        color: $text-color;
        font-family: "Arial";
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-transform: capitalize;
        cursor: pointer;
        padding: 3px 13px;
        &:last-child {
          border-bottom-left-radius: 3px;
          border-bottom-right-radius: 3px;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
        &:hover {background-color: #dae3ff;}
        &-title {
          color: #465993;
          font-family: "Arial Rounded MT Bold";
          line-height: 23px;
          text-transform: uppercase;
        }
      }
    }
    &:after{
      clear: both;
      float: none;
    }
  }
  .volume-slider {
    background-color: transparent;
    display: inline-block;
    height: 2px;
    margin: 5px 10px;
    padding: 0;
    position: relative;
    width: 69px;
    & .rc-slider-handle{
      position: absolute;
      margin-left: 0;
      margin-top: -8px;
      cursor: -webkit-grab;
      cursor: grab;
      border-radius: 0;
      border: none;
      -ms-touch-action: pan-x;
      touch-action: pan-x;
      width: 2px;
      height: 11px;
      opacity: 1;
      background-color: #465993;
      &:focus {
        outline: none;
      }
    }
    & .rc-slider-track {
      height: 2px;
      border-radius: 0;
      background-color: #465993;
    }
    & .rc-slider-step {
      height: 2px;
    }
    & .rc-slider-rail {
      height: 2px;
      background-color: #000;
      opacity: 0.2;
      margin-bottom: -2px;
    }
  }
}
